.affirmations {
  margin: 0 auto;
  width: 95%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.affirmationsTable tr:nth-child(even) {
  background-color: #dfdfdf;
}

.affirmationsTable td,
.affirmationsTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

.affirmationsTable tr:nth-child(even) {
  background-color: #bdbdbd;
}

.affirmationsTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #e1306c;
  color: white;
}

.affirmation {
  text-transform: capitalize;
}

.category {
  text-transform: capitalize;
}
