.cards {
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.cards h2.header {
  font-size: 1.8rem;
  margin: 0 0 30px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #33272a;
}

.cardswrapper {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin: 20px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.content > * {
  flex: 1 1 100%;
}

.content:hover {
  color: white;
}

.content:hover a {
  border-color: white;
  background: white;
}

.content-1:hover {
  border-color: #8bd3dd;
  background: #8bd3dd;
}

.content-1:hover a {
  color: #8bd3dd;
}

.content-2:hover {
  border-color: #e1306c;
  background: #e1306c;
}

.content-2:hover a {
  color: #e1306c;
}

.content-3:hover {
  border-color: #ffd803;
  background: #ffd803;
}

.content-3:hover a {
  color: #ffd803;
}

.content h2 {
  font-size: 1.38rem;
  margin: 16px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.content p {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

.content a {
  margin: 22px 0;
  background: black;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid black;
  padding: 15px 0;
  border-radius: 25px;
  transition: 0.3s ease;
}

.content a:hover {
  border-radius: 4px;
}

@media (max-width: 900px) {
  .cardswrapper {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 1200px) {
  .card {
    width: calc(50% - 170px);
  }
}

@media only screen and (max-width: 800px) {
  .card {
    width: calc(100% - 160px);
  }
}

::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #123;
  border-radius: 10px;
}
