

html {
  position: relative;
  min-height: 100vh;
}

body {
  margin:0;
  padding:0;
  border: 0;
  outline: 0;
  background: #faeee7;
  overflow-x: hidden;
  padding: 5vw;
}

.logo{
  text-align: center;
  font-weight: 800;
  color: #ff8ba7;
}

.home{
  text-align: center;
  margin-top: 5em;
}

.welcomeNote{
  color: #594a4e;
}

.headline{
  color:#33272a;
  font-size: 2.5rem;
}

.highlight{
  background-color: #ff8ba7;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5vh;
  padding-top: 1em;
  padding-bottom: 3em;
  text-align: center;
  width: 100%;
  overflow: hidden;
  color: #33272a;
}

a:hover {
  color: #18216d;
}


p {
  color: #18216d;
  font-size: 21px;        
  line-height: 1.41;
}
h1 {
  font-weight: 600;
}


.fadeIn {
  opacity: 0;
  display: block;
  animation: slidein 1s ease-out forwards;
}

@keyframes slidein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

