.quoteBox {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
}

.container {
  width: 500px;
  margin: 0 auto;
  background-color: #fff;
  padding: 1.6rem;
  border-radius: 1rem;
  box-shadow: 0 5px 15px -10px rgb(31 18 53 / 60%);
}

.quoteText {
  text-align: center;
}

.quoteSymbol {
  font-size: 2em;
  color: #1f1f1f;
  text-align: center;
  margin: 40px 0px;
  padding: 0.6rem;
}

#author {
  margin: 20px;
  font-style: italic;
  text-align: right;
}

button {
  margin-top: 3rem;
  position: fixed;
  background-color: rgb(255, 139, 167);
  color: rgb(51, 39, 42);
  border-radius: 3px;
  font-weight: 700;
  cursor: pointer;
  padding: 10px 24px;
  border: none;
  transition: all 200ms ease-in-out;
}

button:hover {
  box-shadow: 0 5px 15px -10px rgb(31 18 53 / 60%);
  color: white;
}
